<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
</head>
<body>
    <div class="main text-white w-full min-h-screen bg-zinc-900 p-10">
        <a class="text-blue-500 inline-block mb-10" href="/">Go BACK TO HOME PAGE...</a>
        <h1 class="text-4xl tracking-tighter"><%= filename %></h1>
        <p class="text-xl mt-2 font-light p-5 "><%= filedata %></p>
        </div>
</body>
</html>