@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{ 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style:normal;
}
.protfolio-con{
    min-height: 100vh;
    width: 100%;
    display: flex;
}
.navlist{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15vh;
    width: 100%;
    gap: 3.5rem;
    position: fixed;
}
.navlist li{
    list-style: none;
}
.navlist li a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1rem;
    color: #fff;
    position: relative;
}
.navlist li a::after, .navlist .active::after{
    content: "";
    position: absolute;
    background: #fff;
    width: 100%;
    height: .1rem;
    left: 0;
    bottom: -5px;
    transform: scaleX(0);
    transition: transform .5s;
    transform-origin: bottom right;
}
.navlist li a:hover::after, .navlist .active::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}
.left-con,.right-con{
    height: 100vh;
    display: flex;
    align-items: center;
}
.left-con{
    background: #262525;
    width: 70%;
    padding-left: 2rem;
}
.right-con{
    background: linear-gradient(-45deg,#3877ff,#262525 70%);
    width: 30%;
}
.icon .fa-brands{
    color: #bbb;
    font-size: 2rem ;
    transition: .5s ease;
}
.icon .fa-brands:hover{
    cursor: pointer;
    background: linear-gradient(#fff, #3877ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.icon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}
.content{
    margin-left: 3rem;
}
.content .intro{
    font-size: 1.5rem;
    color: #fff;
}
.intro span{
    color: #5db9ee;
}
.content h1{
    font-size: 3rem;
    color: #5db9ee;
    line-height: 3.5rem;
}
.content .detail{
    font-size: 1.1rem;
    color: #fff;
    max-width: 35rem;
    margin: 1.1rem 0 3rem 0;
    line-height: 1.8rem;
}
.btn button{
    border: .1rem solid #5db9ee;
    font-size: 1.1rem;
    padding: .8rem 1.5rem;
    border-radius: .5rem;
    cursor: pointer;
    transition: .5s ease;
}
button:nth-child(1){
    background: #5db9ee;
    color: #262525;
}
button:nth-child(2){
    background: transparent;
    color: #5db9ee;
    margin-left: 2rem;
}
button:nth-child(1):hover{
    background: transparent;
    color: #5db9ee;
}
button:nth-child(2):hover{
    background: #5db9ee;
    color: #262525;
}
.design .circle{
    aspect-ratio: 1;
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 70%;
    transform: translate(-50%,-50%);

}
.circle:nth-child(1){
    background: linear-gradient(90deg, transparent 50%,#262525 50%);
    width: 38rem;
}
.circle:nth-child(2){
    background-image: url(source/profile-pic.jpg);
    background-size: 100%;
    background-repeat:no-repeat;
    width: 30rem;
    border: 1.5rem solid white;
    box-shadow: 0 0 1rem #fff, inset 0 0 1rem #fff,
    0 0 2rem #3877ff, inset 0 0 2rem #3877ff,
    0 0 4rem #3877ff, inset 0 0 4rem #3877ff;
}
